/* Main colors */
$navy-blue: #07001d;
$purple-blue: #190062;
$turquoise-blue: #35ffcc;
$light-blue: #d9fbff;
$white: white;

/* Alert colors */

$error-color: #721c24;
$error-background-color: #f8d7da;
